{% extends "_base.html" %}
{% block content %}
<script src="https://unpkg.com/vue@3"></script>
<script type="text/javascript">
    window.room_uuid = "{{ room_uuid }}"
</script>

{% raw %}
<div id="app" style="text-align: center;">
    <div class="results">
        <div class="vote" v-for="vote in votes">
            <p v-if="vote.value && status == 'PROGRESS'">X</p>
            <p v-if="vote.value && status == 'RESULT'">{{ vote.value }}</p>
            <p v-if="!vote.value">-</p>
        </div>
    </div>
    <div class="options">
        <button v-on:click="vote(1)">1</button>
        <button v-on:click="vote(2)">2</button>
        <button v-on:click="vote(3)">3</button>
        <button v-on:click="vote(5)">5</button>
        <button v-on:click="vote(8)">8</button>
    </div>
    <div class="controls">
        <button v-if="status == 'RESULT'" v-on:click="reset()">reset</button>
    </div>
</div>


<script>
// Vue app
Vue.createApp({
  data() {
    const data = {
      message: 'Hello Vue!' + window.room_uuid,
      test: this.test,
      playerId: this.playerId,
      status: this.status,
      votes: this.votes,
    }
    return data;
  },

  mounted() {
    const that = this;
    // The websocket
    this.socket = new WebSocket("ws://"+window.location.host+window.location.pathname+'/ws')
    // Listen for messages
    this.socket.addEventListener('message', function (event) {
        // Parse event
        const parts = event.data.split(" ");
        const evName = parts[0]

        switch(evName) {
            case "WELCOME":
                that.playerId = parseInt(parts[1])
                break;
            case "ROOM_STATE":
                const status = parts[1]
                that.status = status

                switch(status) {
                    case "PROGRESS":
                        that.votes = parts.slice(2).map(user => {
                            const parts = user.split(":")
                            return {
                                userId: parseInt(parts[0]),
                                value: parts[1].toLowerCase() == "true",
                            }
                        })
                        break;
                    case "RESULT":
                        that.votes = parts.slice(2).map(user => {
                            const parts = user.split(":")
                            return {
                                userId: parseInt(parts[0]),
                                value: parseInt(parts[1]),
                            }
                        })
                        break;
                }
                break;
        }

        console.log('Message from server ', event.data);
    });
    this.test = "test";
  },

  unmounted() {
    this.socket.close()
  },

  methods: {
    vote(value) {
      this.socket.send("VOTE "+value)
    },
    reset(value) {
      this.socket.send("RESET")
    }
  }

}).mount('#app')
</script>
{% endraw %}
{% endblock %}
